.wrapper{
   display: flex;
   justify-content: center;
   flex-direction: column;
   gap: 20px;
   list-style: none;
}

.btn {
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 15px;
	margin: 0 15px 15px 0;
	outline: none;
	border: 1px solid #7952b3;  
	border-radius: 5px;
	height: 38px;
	width: 150px;
	line-height: 18px;
	font-size: 14px;
	align-items: center;
	font-weight: 600;
	text-decoration: none;
	color: #fff;
	background-color: #7952b3;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
}
.btn:focus {
	box-shadow: 0 0 0 3px rgb(121 82 179 / 25%);
	background-color: #fff;
	color: #7952b3 ;
}
.btn:hover {
	border-color: #fff;
}
.btn:active {
	background-color: #7952b3 !important;
	border-color: #61428f !important;
}
.btn:disabled {
	pointer-events: none;
	opacity: 0.65;
}