.mainContainer{
    width: 700px;
}

.navlist{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    border: 1px solid;
}

.container{
    display: flex;
    justify-content: space-around;
}