.commonWrapper{
    display: flex;
   
    gap: 40px;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.toysCard{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
}

.wrapperProductCard{
    border: 1px solid #f3f3f3;
    border-radius: 40px;
    padding: 10px;
}

.card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.title{
    font-size: 18px;
    text-align: center;
    padding: 10px;
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.blockQuality{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.btn{
    color: #BFE2FF;
    height: 40px;
    width: 40px;
    padding: 0px;
    margin: 10px 2px;
    border-radius: 10px;
    border: 4px solid #BFE2FF;
    background: #337AB7;
    cursor: pointer;
    outline: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
}

.btn:focus-visible {
	box-shadow: 0 0 0 2px #666;
}
.btn:hover {
	background-color: #8ab6df;
}
.btn:active {
	transform: scale(0.96);
}

.btn:disabled {
	pointer-events: none;
	opacity: 0.65;
}

.btn2 {
	display: inline-block;
	box-sizing: border-box;
	padding: 0 16px;
	margin: 0 15px 15px 0;
	outline: none;
	border: none;
	border-radius: 4px;
	height: 30px;
	line-height: 30px;
	font-size: 12.5px;
	font-weight: normal;
	text-decoration: none;
	vertical-align: top;
	color: #fff;
	background-color: #5181b8;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
	overflow: hidden;
}
.btn2:focus-visible {
	box-shadow: 0 0 0 3px lightskyblue;
}
.btn2:hover {
	opacity: 0.88;
}
.btn2:active {
	line-height: 32px;
    
}
.btn2:disabled {
	pointer-events: none;
	opacity: 0.65;
}

.btnClear{
    color: #BFE2FF;
    height: 40px;
    width: 118px;
    padding: 0px;
    margin: 10px 2px;
    margin-left: 55px;
    border-radius: 10px;
    border: 4px solid #BFE2FF;
    background: #337AB7;
    cursor: pointer;
    outline: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
}

.btnClear:focus-visible {
	box-shadow: 0 0 0 2px #666;
}
.btnClear:hover {
	background-color: #8ab6df;
}
.btnClear:active {
	transform: scale(0.96);

}

.btnClear:disabled {
	pointer-events: none;
	opacity: 0.65;
}