.sort{
    display: flex;
    border: 1px solid #f3f3f3;
    padding: 10px;
    width: 900px;
    border-radius: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
    
}

.nav{
    list-style: none;
    cursor: pointer;
}