.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #f3f3f3;
    padding: 10px;
    width: 210px;
    border-radius: 40px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.card:hover{
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.06) ;
    transform: translateY(-5px);
}

.title{
    font-size: 18px;
    text-align: center;
    height: 60px;
    font-weight: bold;
}

.artikul{
    font-size: 12px;
   font-style: oblique;
}

.btnMP{
	display: flex;
}

.btn {
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 20px;
	margin: 0 auto;
	outline: none;
	border: none;  
	border-radius: 6px;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	font-weight: 600;
	text-decoration: none;
	color: #385898;
	background-color: #e7f3ff;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
}
.btn:focus-visible {
	box-shadow: 0 0 0 2px #666;
}
.btn:hover {
	background-color: #DBE7F2;
}
.btn:active {
	transform: scale(0.96);
}
.btn:disabled {
	pointer-events: none;
	opacity: 0.65;
}